body{
    background-color: coral;
    margin: 0 auto;
}

.pixels-text{
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 25%;
}

@media screen and (max-width: 1600px){
    body{
        background-color: salmon;
    }
}

@media screen and (max-width: 1000px){
    body{
        background-color: deeppink;
    }
}

@media screen and (max-width: 600px){
    body{
        background-color: deepskyblue;
    }
}